<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">DressMeUpPlus</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Featured</a>
                        </li>
                        <li class="nav-item">
                            <button id="cart" data-html="true" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
                            sagittis lacus vel augue laoreet rutrum faucibus.">
                              Cart(0)
                            </button>
                        </li>
                    <!--    <li class="nav-item">
                          <a class="nav-link disabled" href="#">Disabled</a>-->
                        </li>
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ product_object.image }}">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> {{ product_object.title }}</h5>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                      Price:  ${{ product_object.price }}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                       Category: {{ product_object.category }}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                       Color: {{ product_object.color }}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                      Size:  {{ product_object.size}}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        Details: {{ product_object.item_detail}}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                       Model Details:  {{ product_object.description_model }}
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                       Material:  {{ product_object.material_made }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button id="{{ product.id }}" class="btn atc btn-warning">Add To Cart</button>
                    </div>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript">
    console.log("This is working");

    if(localStorage.getItem("cart")==null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem("cart"));
    }

    $(document).on("click", ".atc", function(){
        console.log ("The add to cart button is clicked");
        var item_id = this.id.toString();
        console.log(item_id);

        if(cart[item_id] != undefined){
            quantity = cart[item_id][0] + 1;
            cart[item_id][0] = quantity;
            cart[item_id][2] = cart[item_id][2] + parseFloat(document.getElementById("price" + item_id).innerHTML);

            
        }
        else{
            quantity = 1;
            price = parseFloat(document.getElementById("price" + item_id).innerHTML);
            name = document.getElementById("nm" + item_id).innerHTML;
            cart[item_id] = [quantity,name,price];

        }
        console.log(cart);
        localStorage.setItem("cart", JSON.stringify(cart));
        document.getElementById("cart").innerHTML ="Cart("+ Object.keys(cart).length + ")";
        
    });
//    $(function () {
//  $('[data-toggle="popover"]').popover()
//  document.getElementById("cart").setAttribute("data-content", "<h5>This is your cart</h5>");
//   });


    // Display Cart Function
    DisplayCart(cart);
    function DisplayCart(cart){
        var cartString = "";
        cartString += "<h5>Your Items</h5>";



        var cartIndex = 1;
        for(var x in cart){
            cartString += cartIndex;
            cartString += document.getElementById("nm" + x).innerHTML +  " QTY: " + cart[x][0] + "</br>";
            cartIndex += 1;
        }

//        cartString += "<a href='/checkout'><button class='btn btn-warning' id='checkout'>Checkout</button></a>";
            cartString += "<br><a class='btn btn-warning' id='checkout' href='/checkout'>checkout</a>"
        document.getElementById("cart").setAttribute("data-content", cartString);
       $('[data-toggle="popover"]').popover();
    }


</script>
</html>

